*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}
h2{
    color: rgb(53, 179, 218);
    background-color: #ebebeb;
    padding: 20px 0;
}
canvas{
    border: solid;
    margin: 20px 0;
}
footer{
    color: rgb(53, 179, 218);
    background-color: #ebebeb;
    padding: 10px 0;
}
p{
    font-size: 22px;
}